@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.contentModal_landscape {
    object-fit: contain;
    border-radius: 10px;
}

.contentModal_portrait {
    display: none;
    object-fit: contain;
    border-radius: 10px;
}

.tagline {
    padding-bottom: 15px;
    align-self: center;
    font-size: 14px;
}

.contentModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.contentModal::-webkit-scrollbar {
    display: none;
}

.contentModal_about {
    padding: 10px;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 300;
}

.contentModal_title {
    height: 12%;
    font-size: min(6vw, 28px);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.contentModal_description {
    display: flex;
    height: 40%;
    overflow-y: scroll;
    padding: 15px;
    border-radius: 20px;
    scrollbar-width: thin;
    box-shadow: inset 0px 0px 5px #000000;
    text-align: justify;
    font-family: "Roboto", sans-serif;
}

.contentModal_description::-webkit-scrollbar {
    display: none;
}

.contentModal_list {
    padding: 5px 5px;
    font-size: 14px;
}

.contentModal_details{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

@media (min-width: 835px) {
    .contentModal_landscape {
        display: none;
    }

    .contentModal_portrait {
        display: flex;
        width: 38%;
    }

    .contentModal {
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }

    .contentModal_about {
        width: 58%;
        padding: 0;
        height: 100%;
    }

    .contentModal_title {
        font-size: max(2.7vw, 40px);
        font-weight: 400;
    }

    .contentModal_description {
        font-size: 22px;
        height: 200px;
    }

    .contentModal_list {
        font-size: 18px;
    }

    .tagline{
        font-size: 18px;
    }
}